.menuButton {
    border: none;
    cursor: pointer;
    border-radius: 12px;
    padding: 12px 16px;
    width: 204px;
    height: 44px;
    background: #f7f7f7;
    fill: #101828;

    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
}
.mileageLabel {
    display: flex;
    cursor: pointer;
    border-radius: 12px;
    width: 320px;
    background: #f7f7f7;
}
.search {
    cursor: pointer;
    border: none;
    background: #3470ff;
    border-radius: 12px;
    padding: 12px 51px;
    width: 156px;
    /* height: 44px; */
    font-family: "Manrope", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        color: #fff;
}