html,
body {
  height: 100%;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  font-family: var(--font-nunito-sans), sans-serif;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition:
    background-color 300ms,
    color 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    padding: 0 64px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    padding: 0 120px;
  }
}