.home {
  background-image: url("/car.webp");
  background-color: #212121;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 700px;
  margin: 0 auto;
}

.contentbox {
  width: 783px;
  padding-top: 440px;
  margin: 0 auto;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  padding-bottom: 16px;
  
}

.description {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: #fff;
  padding-bottom: 40px;
}

.catalogBtn {
  display: block;
  background-color: #3470ff;
  border-radius: 12px;
  padding: 12px 0px;
  text-align: center;
  margin: 0 auto;
  width: 276px;

  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
}

